.cat-item {
    margin-bottom: 75px;
}

.method-item {
    margin: 25px;
}

table {
    width: 90%;
    border-collapse: collapse;
}

th,td{
    padding:10px;
    text-align: center;
}

th:nth-child(3), td:nth-child(3){
    width: 40%;
    word-break: break-all;
}

.buttons {
    width: 80%;
    text-align: right;
}
